@charset   "UTF-8";
body {
  background-color: gray;
  background-image: url("images/bg.jpg");
  background-size: cover;
}
 
#wrap {
  width: 960px;
  margin: auto;
  background-color: white;
}
 
header   {
  padding: 40px;
  height: 80px;
  background-image: url("images/pattern.png");
  background-repeat: repeat;
}
 
nav {
  padding: 8px 40px;
  background-color: black;
  color: white;
}
 
main{
  padding: 40px;
  height : 400px;
}
 
footer   {
  padding: 40px;
  height: 40px;
  background-color : black;
  color: white;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-size: 200px 50px;
  background-position: center bottom;
}